body {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
    margin: 0%;
  }
  body 
  image {
position: center;
height: 100%;
margin: 100%;
  }
  h2 {
    text-align: center;
    color:red;
  }
  p {
     text-align: center;
     color: maroon
    }
div {
  text-align: center;
  }